.header{
position:sticky;
top:0;
display: flex;
background-color:white;
justify-content: space-evenly;
border-bottom: 1px solid rgb(29, 170, 226);
padding-top:10px;
padding-bottom: 10px;
width:100%;
z-index: 999;


} 

.header__left{
    display: flex;
}
.header__left>img{
    object-fit:contain;
    height: 40px;
    margin-right:10px;

}

.header__search{
    padding:10px;
    display: flex;
    align-items:center;
    border-radius:5px;
    height: 22px;
    color:rgb(25, 121, 113);
    background-color: var(--cool-gray-30,#e1e9ee);;
}

.header__search >input{
    outline:none;
    border:none;
    background: none;
}